<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} - AbcBolinhas</title>
        {% block style %}{% endblock %}
        <style>
            .important {
                color: #6495ed;
            }
            /* Estilo da página home moderna */
            body {
                background-color: #fff;
                font-family: sans-serif;
            }
            .header {
                padding: 20px 0;
                background-color: #6495ed;
                color: #fff;
            }
            .header h1 {
                margin: 0;
                font-size: 3em;
            }
            .nav {
                margin-bottom: 20px;
            }
            .nav ul {
                list-style-type: none;
                padding: 0;
            }
            .nav li {
                display: inline-block;
            }
            .nav a {
                color: #fff;
                text-decoration: none;
                padding: 10px;
            }
            .nav a:hover {
                background-color: #fff;
                color: #6495ed;
            }
            .main {
                padding: 20px 0;
            }
            .footer {
                padding: 20px 0;
                background-color: #6495ed;
                color: #fff;
                text-align: center;
            }
        <