{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="display-4">Home</h1>

    <ul class="list-group mt-3">
    <p class="lead">Este é um exemplo de estilo usando Bootstrap.</p>
        <li class="list-group-item"><i class="fas fa-home me-2"></i><a href="{{ url_for('index.formListaIndex') }}">Home</a></li>
        <li class="list-group-item"><i class="fa fa-id-card me-2"></i><a href="{{ url_for('funcionario.formListaFuncionario') }}">Funcionário</a></li>
        <li class="list-group-item"><i class="fa fa-users me-2"></i><a href="{{ url_for('cliente.formListaCliente') }}">Cliente</a></li>
        <li class="list-group-item"><i class="fa fa-shopping-basket me-2"></i><a href="{{ url_for('produto.formListaProduto') }}">Produto</a></li>
    </ul>
{% endblock %}
